@model NdCRM.Models.admin_NDCrM.Product

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Index</h1>

<h4>Product</h4>
<hr />
<p>hgfy</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>

 
    @{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- Your view content here -->
@*@section Scripts {
    <!-- JavaScript code or script references specific to this view go here -->
    <script src="your-script.js"></script>
}*@
